include ./tables.pug

header#menus
  if mode.difficulties
    +dropdown('difficulty', mode.difficulties, diff)
  if diff && diff.players
    +dropdown('players', diff.players, playerCount)
  div
    | M
    input#mission-input(
      type="number"
      min=1
      max=mode.missions
      value=mission
      onchange="calcMissionHps()")

table.drops-table
  thead
    tr
      th Enemy
      th HP
      th Stun
      th Drops
      th Credits
      th Aggro
      th Alert
  tbody
    - let group = ''
    for enemy in enemies
      tr(class={ duplicate: enemy.isDuplicate } data-enem=enemy.id)
        - var hp = getMissionHp(enemy, diff, mission)
        td.name= enemy.name || enemy.id
        td.mission-hp= hp.toFixed()
        td.stagger= enemy.stagger ? (hp * enemy.stagger).toFixed() : '-'
        td= ((enemy.drops || 0) / 0.947).toFixed(2)
        td= getCredits(enemy).toFixed()
        td= enemy.aggro[0] || '-'
        td= enemy.aggro[1] || '-'
