mixin statCells(weapon, header, value)
  if Array.isArray(value)
    for v in value
      +statCells(weapon, header, v)
  else if typeof value === 'object'
    td(class=value.class colspan=value.colspan)
      +statSubCell(weapon, header, value.value)
  else if value == null
    td(class=header)
      +statSubCell(weapon, header, value)

mixin statSubCell(weapon, header, value)
  if value == null
    | -
  else if isHtml(value)
    != value.outerHTML
  else
    != value 

mixin starCell(weapon, prop)
  - let star = weapon[`${prop}Star`]
  - let max = weapon[`${prop}StarMax`]
  td(class={
    starfiller: star == null,
    star: star != null,
    max: star != null && star === max
  })= star

header#menus
  if classes
    +dropdown('class', classes, char)
  if categories
    +dropdown('category', categories, cat)
  if gameValues && gameValues.hasStars
    +dropdown('star', stars, star)

each table in tables
  if tables.length > 1 && table.name
    h3= localize(table.names, table.name)
  table.weapon-table
    thead
      tr
        for header in table.headers
          - let h = headerDefinitions[header] || { label: '???' }
          th(title=(h.tooltip || '') colspan=(h.colspan || 1))= h.label
    tbody
      for weapon in table.weapons
        tr
          for header in table.headers
            +statCells(weapon, header, weaponStat(weapon, header))
            - let h = headerDefinitions[header]
            if h && h.starProp
              +starCell(weapon, h.starProp)
            if h && h.starProp2
              +starCell(weapon, h.starProp2)
  if table.appendix
    p!= table.appendix
