mixin dropdownItem(item)
  if item.label
    != item.label
  else
    != slice3(item.name)

mixin dropdown(scope, list, selection)
  .dropdown
    .button(class={ [selection.id]: true })
      +dropdownItem(selection)
    menu
      each item in list
        a(onclick=`selectItem("${scope}", "${item.id}")`
          class={ [item.id]: true, selected: selection.id === item.id }
        )
          +dropdownItem(item)

mixin topMenus
  header#top-menus
    +dropdown("game", games, game)
    if modes
      +dropdown("mode", modes, mode)

mixin menus
  header#menus
    if classes
      +dropdown("class", classes, char)
    if categories
      +dropdown("category", categories, cat)
    if gameValues && gameValues.hasStars
      +dropdown("star", stars, star)

mixin stats
  each table in tables
    if tables.length > 1 && table.name
      h3= localize(table.names, table.name)
    table.weapon-table
      thead
        tr
          for header in table.headers
            - let h = headerDefinitions[header] || { label: '???' }
            th(title=h.tooltip)= h.label
      tbody
        for weapon in table.weapons
          tr
            for header in table.headers
              td!= weaponStat(weapon, header)

nav#links
  ul
    li.nav-selected
      a(href="/") Earth Defense Force
    li |
    li
      a(href="https://atwiki.jp/edf6") Japanese EDF Wiki
if isLoading
  .loading Loading...
else
  +topMenus
  +menus

  if mode.id === 'stats' && cat && tables
    +stats
