mixin game(game)
  if game === '41'
    b EDF4
    span .1
  else if spinoffs.includes(game)
    span EDF:
    b= game.toUpperCase()
  else
    b EDF
    b= game.slice(0, 1)
    span= game.slice(1).toUpperCase()

mixin mode(mode)
  b= mode.name

mixin star(star)
  if star >= 10
    b= `★${star}`
  else
    span= `☆${star}`

nav#links
  ul
    li.nav-selected
      a(href="/") Earth Defense Force
    li |
    li
      a(href="https://atwiki.jp/edf6") Japanese EDF Wiki
header#top-menus
  #game-tabs.dropdown
    #game-button.button(class=[`edf${game}`])
      +game(game)
    menu#game-dropdown
      each g in games
        a(onclick=`selectGame("${g}")` class={ [`edf${g}`]: true, selected: g === game })
          +game(g)
  #mode-tabs.dropdown
    #mode-button.button.stats
      b Stats
    menu#mode-dropdown
      a(onclick=`selectMode("stats")` class={ stats: true, selected: mode === "stats" })
        b Stats
      each m in modes
        a(onclick=`selectMode("${m.name}")` class={ [m.name.toLowerCase()]: true, selected: mode === m.name })
          span Drops 
          b= m.name
  if gameValues && gameValues.hasStars
    #star-tabs.dropdown
      #star-button.button(class=[`star-${star}`])
        +star(star)
      - let s = 0
      menu#star-dropdown
        while s <= 10
          a(onclick=`selectStar("${s}")` class={ [`star-${s}`]: true, selected: star === s })
            +star(s)
          - s++
